<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tree-pledge/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="plant" href="/tree-pledge/plant">
      <ion-icon aria-hidden="true" name="leaf-outline"></ion-icon>
      <ion-label>Let's Plant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tree-pledge/notifications">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
      <ion-badge color="success">10</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tree-pledge/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
